llama-cpp-python=0.1.78
langchain=0.1.1

# Note: I ran `conda update langchain` and I now have the following (which so far is stable):
# Name                    Version                   Build  Channel
# langchain                 0.1.4              pyhd8ed1ab_0    conda-forge
# langchain-community       0.0.15             pyhd8ed1ab_0    conda-forge
# langchain-core            0.1.16             pyhd8ed1ab_0    conda-forge

# Also note: `conda install jq` gives version 1.7. Trying to run JSONLoader with this threw error
# message that jq not even installed).
# `pip install jq` did work ok. And this installed version 1.6.
